
div[taquilla]{
  height: 200px;
  width: 200px;
  padding: 0px;
  background-color: #009688;
}
div[taquilla] div[titulo-taquilla]{
  font-size: 65px;
  padding-top: 40px;
}
div[taquilla] button{
  border:none;
  background-color: #004D40;
  bottom:0px;
  left: 0px;
  color:white;
  width: 100%;
  position:absolute;
  height: 40px;
  padding: 10px;
}
div[taquilla] div[cliente],div[taquilla] div[disponible]{
  float: left;
  width: calc(100% - 20px);
  height: 30px;
  bottom: 0px;
  position: absolute;
}
div[taquilla] div[disponible]{
  background-color:#FF7043;
  color: white;
  text-align: center;
  padding: 10px;
}
